{% extends "layout.html" %}

{% block title %}
Kuramoto model simulation
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-8 col-sm-8">
    <div id="svg-kuramoto">
      <!-- svg -->
    </div>
  </div>

  <div class="col-md-4 col-sm-4" id="dropdown-col">
    <div id="svg-phase">
      <!-- svg -->
    </div>
    <!-- TODO: dropdown, time series -->
  </div>

</div>


<script>

 // Define Kuramoto model
 var Kuramoto = function(size, k, dt) {
     // Initialize
     this.size = size; // # of oscillators = size * size
     this.k = k; // coupling
     this.dt = dt;
     this.data = new Array(this.size).fill(0).map(() => 
         new Array(this.size).fill(0).map(() => (
             {"theta": 2*math.PI*math.random(), "freq": 50 + 5*math.random()}
         ))
     );

     // Update data
     this.update = function() {
         this.data = this.data.map(row => row.map(d => {
             // Flatten and get reduce sum
             var interaction = [].concat.apply([], this.data).reduce(
                 (acc, r) => (acc + math.sin(r.theta - d.theta)),
                 0
             );
             return {
                 "theta": d.theta + this.dt * (d.freq + (this.k / this.size**2) * interaction),
                 "freq": d.freq
             };
         }));
     };
 };


 function animateKuramoto(kuramoto, colorScale, maxSec=20, parentWidth=600, parentHeight=600) {
     const margin = {top: 0, right: 0, bottom: 0, left: 0};
     const width = parentWidth - margin.left - margin.right;
     const height = parentHeight - margin.top - margin.bottom;
     var svg = d3.select("#svg-kuramoto")
                 .attr("class", "card")
                 .attr("style", `width: ${parentWidth}px; height: ${parentHeight}px;`)
               .append("svg")
                 .attr("class", "card-img")
                 .attr("width", parentWidth)
                 .attr("height", parentHeight)
               .append("g")
                 .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

     // Draw Initial State
     const rectSize = Math.min(width / kuramoto.size, height / kuramoto.size);
     svg.selectAll("g.row")
        .data(kuramoto.data)
      .enter().append("g")
        .attr("class", "row")
        .attr("transform", (d, i) => ("translate(0," + i*rectSize + ")"))
        .selectAll("rect")
        .data(d => d)
      .enter().append("rect")
        .attr("x", (d, i) => i*rectSize)
        .attr("width", rectSize)
        .attr("height", rectSize)
        .attr("fill", d => d3.color(colorScale((d.theta%(2*math.pi)) / (2*math.pi))).hex());

     // Draw phase
     const phaseRadius = parentHeight/4 - 20;
     drawPhase(kuramoto.data, parentWidth/2, parentHeight/2, colorScale, phaseRadius);

     // Loop
     var timer = d3.interval((t) => {
         kuramoto.update();
         redraw(kuramoto.data, colorScale, phaseRadius);
         if (t > 1000*maxSec) { timer.stop(); };
     }, 20);
 }


 // Draw phase of each oscillator on a single circle
 function drawPhase(data, width, height, colorScale, radius) {
     // SVG
     var phase = d3.select("#svg-phase")
                   .attr("class", "card")
                   .attr("style", `width: ${width}px; height: ${height}px;`)
                 .append("svg")
                   .attr("class", "card-img")
                   .attr("width", width)
                   .attr("height", height)
                 .append("g")
                   .attr("transform", `translate(${width/2},${height/2})`);

     // Color scale of natural frequency
     const extent = d3.extent([].concat.apply([], data).map(d => d.freq));
     var freqScale = f => d3.interpolateYlOrRd( (f-extent[0]) / (extent[1]-extent[0]) );
     // Oscillator circle
     phase.selectAll("circle.oscillator")
          .data([].concat.apply([], data))
        .enter().append("circle")
          .attr("class", "oscillator")
          .attr("style", d => `fill: ${d3.color(freqScale(d.freq)).hex()}`)
          .attr("cx", d => radius * math.cos(d.theta))
          .attr("cy", d => - radius * math.sin(d.theta))
          .attr("r", 10);
     // Center text
     phase.append("text")
          .attr("style", "text-anchor: middle;")
          .text("Phase");
     // Phase Color Scale
     phase.selectAll("line.phase")
          .data(d3.range(0, 2*math.PI, 2*math.PI/8))
        .enter().append("line")
          .attr("class", "phase")
          .attr("x1", d => (radius-20) * math.cos(d))
          .attr("y1", d => - (radius-20) * math.sin(d))
          .attr("x2", d => (radius-20) * math.cos(d+2*math.PI/8))
          .attr("y2", d => - (radius-20) * math.sin(d+2*math.PI/8))
          .attr("style", d => `stroke: ${d3.color(colorScale(d/(2*math.PI))).hex()};`);
 }


 // Change color of rectangles
 function redraw(data, colorScale, radius) {
     // rect
     d3.selectAll("g.row")
       .data(data)
     .selectAll("rect")
       .data(d => d)
       .attr("fill", d => d3.color(colorScale((d.theta%(2*math.pi) / (2*math.pi)))).hex());

     // phase
     d3.selectAll("circle.oscillator")
       .data([].concat.apply([], data))
       .attr("cx", d => radius * math.cos(d.theta))
       .attr("cy", d => - radius * math.sin(d.theta));
 }


 window.onload = () => {
     // Activate selected <li> in sidebar
     $("ul.nav").find("li.active").removeClass("active");
     $("li#li-kuramoto").addClass("active");

     // Start Kuramoto model animation
     const size = 20;
     const k = 10;
     const dt = 0.002
     var colorScale = d3.interpolateSinebow;
     var kuramoto = new Kuramoto(size, k, dt);
     animateKuramoto(kuramoto, colorScale, 20, 500, 500);
 }

</script>


<style>
 rect {
     stroke: #fff;
     stroke-width: 0.5px;
 }
 circle.oscillator {
     fill-opacity: 0.3;
 }
 line.phase {
     stroke-width: 2px;
 }
</style>

{% endblock %}
