{% extends "layout.html" %}

{% block title %}
L-system
{% endblock %}

{% block content %}

<div class="card card-body">
  <svg id="svg-lsystem"></svg>
</div>


<script>

 // Define L-system
 var Lsystem = function(start, rule) {

     // Initialize
     this.state = start;
     this.rule = rule;
     this.generation = 0;

     this.update = function() {
         this.generation += 1;
         this.state = this.state.split("").map(s => rule[s]).join("");
         return this.state;
     };
 };

 // Run a simple L-system
 var rule = {
     "1": "11",
     "0": "1[0]0",
     "[": "[",
     "]": "]"
 }

 var lsystem = new Lsystem("0", rule);
 d3.range(7).forEach(() => {lsystem.update();});
 drawTree(lsystem.state);


// Draw tree based on l-system's state
 function drawTree(data) {
     var margin = {top: 10, right: 10, bottom: 10, left: 10};
     var width = 600 - margin.left - margin.right;
     var height = 600 - margin.top - margin.bottom;

     var svg = d3.select("#svg-lsystem")
                 .attr("width", width + margin.left + margin.right)
                 .attr("height", height + margin.top + margin.bottom)
               .append("g")
                 .attr("transform", `translate(${margin.left+width/2}, ${margin.top})`);
     // Invert up/down
     var yScale = d3.scaleLinear().domain([0, height]).range([height, 0]);

     const len = 4;
     var position = {"x": 0, "y": 0, "angle": Math.PI / 2};
     var stack = []

     // Associate characters with instructions
     instructions = {
         "0": () => {
             var newPosition = {
                 "x": position.x + len * Math.cos(position.angle),
                 "y": position.y + len * Math.sin(position.angle),
                 "angle": position.angle
             }
             svg.append("line")
                .attr("stroke", "#006600")
                .attr("x1", position.x).attr("y1", yScale(position.y))
                .attr("x2", newPosition.x).attr("y2", yScale(newPosition.y));
             position = newPosition;
         },
         "1": () => {
             var newPosition = {
                 "x": position.x + len * Math.cos(position.angle),
                 "y": position.y + len * Math.sin(position.angle),
                 "angle": position.angle
             }
             svg.append("line")
                .attr("stroke", "#604020")
                .attr("x1", position.x).attr("y1", yScale(position.y))
                .attr("x2", newPosition.x).attr("y2", yScale(newPosition.y));
             position = newPosition;
         },
         "[": () => {
             stack.push(Object.assign({}, position));
             position.angle += Math.PI / 4; // Turn lef 45[deg]
         },
         "]":() => {
             position = stack.pop();
             position.angle -= Math.PI / 4; // Turn right 45[deg]
         }
     }
     // Draw
     data.split("").forEach((s) => { instructions[s](); });
 }


 window.onload = () => {
     // Activate selected <li> in sidebar
     $("ul.nav").find("li.active").removeClass("active");
     $("li#li-lsystem").addClass("active");
 }

</script>

<style>
 line {
     stroke-width: 4;
     fill: none;
 }
</style>

{% endblock %}
