{% extends "layout.html" %}

{% block title %}
Quadtree Mountain
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-8 col-sm-8">
    <div id="three-parent" class="card">
      <div id="Stats-output" style="position: absolute; left: 0px; top: 0px;"></div>
      <div id="three" class="card-img"></div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4">
    <div id="imshow"></div>
    <div id="quad" class="card"></div>
  </div>

</div>

<script src="{{ url_for('static', filename='js/threeUtil.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/util.js')}}" type="text/javascript"></script>
<script>
 // Elevation version of "https://beta.observablehq.com/@mbostock/quadtree-art"

 var Quad = function(tile, x, y, areaParam) {
     this.x = x;
     this.y = y;
     this.tile = tile;
     this.areaParam = areaParam;
     this.height = tile.length;
     this.width = tile[0].length;
     this.mean = d3.mean([].concat.apply([], tile)); // Mean elevation
     this.score = d3.variance([].concat.apply([], tile)) / (this.width * this.height)**areaParam

     this.split = function() {
         var dx = this.width / 2;
         var dy = this.height / 2;
         return [
             new Quad(this.tile.slice(0, dy).map(row => row.slice(0, dx)),
                      this.x, this.y, this.areaParam),
             new Quad(this.tile.slice(0, dy).map(row => row.slice(dx, this.width)),
                      this.x + dx, this.y, this.areaParam),
             new Quad(this.tile.slice(dy, this.height).map(row => row.slice(0, dx)),
                      this.x, this.y + dy, this.areaParam),
             new Quad(this.tile.slice(dy, this.height).map(row => row.slice(dx, this.width)),
                      this.x + dx, this.y + dy, this.areaParam)
         ];
     }
 }


 // Fetch elevation tile from Japanese government and apply callback-function to it
 function fetchTile(coord, callback) {
     fetch(`https://cyberjapandata.gsi.go.jp/xyz/dem/${coord.z}/${coord.x}/${coord.y}.txt`)
         .then(response => response.text())
         .then(text => text.split("\n"))
         .then(rows => rows.slice(0, rows.length-1)) // Last row: empty
         .then(rows => rows.map(r => r.split(",").map(d => d=="e" ? 0 : parseFloat(d)))) // e: sea
         .then(callback)
         .catch(error => console.log(error));
 }


 function drawQuad(size, colorScale, areaParameter, splitCount=300) {
     // partial application
     return function(data) {

         var quads = [ new Quad(data, 0, 0, areaParameter) ];
         var indivisibles = [];

         // Split the Quad with highest score
         d3.range(splitCount).forEach(() => {
             var highest = quads.pop();
             if (highest.height == 1 || highest.width == 1) {
                 indivisibles.push(highest);
             } else {
                 quads = quads.concat(highest.split()).sort((a, b) => a.score > b.score ? 1 : -1 );
             }
         });
         quads = quads.concat(indivisibles);

         var svg = d3.select("#quad")
                     .attr("style", `width: ${size}px; height: ${size}px;`)
                   .append("svg")
                     .attr("class", "card-img")
                     .attr("width", size)
                     .attr("height", size)
                   .append("g")
                     .attr("transform", `translate(${0},${0})`);

         // Assume height == width
         var xyScale = d3.scaleLinear().domain([0, data.length]).range([0, size]);

         // Draw squares
         var elevScale = d3.scaleLinear()
                           .domain(d3.extent([].concat.apply([], data))).range([0, 1]);
         svg.selectAll("rect.quad")
            .data(quads)
          .enter().append("rect")
            .attr("class", "quad")
            .attr("x", d => xyScale(d.x))
            .attr("y", d => xyScale(d.y))
            .attr("width", d => xyScale(d.width))
            .attr("height", d => xyScale(d.height))
            .attr("fill", d => colorScale(elevScale(d.mean)));

         // Draw raw data
         imshow("imshow", [].concat.apply([], data).map(elevScale), size, colorScale);

         // Draw 3D
         drawThree(quads, colorScale, 2*size + 20);
     }
 }


 function drawThree(data, colorScale, size) {
     // Performance monitor
     var stats = createStats("Stats-output");

     d3.select("#three").attr("style", `width: ${size}px; height: ${size}px;`);
     d3.select("#three-parent").attr("style", `width: ${size}px; height: ${size}px;`);

     // Set up a 3D world
     var world = new World("three", {"width": size,"height": size}, true, "#222222");

     world.addCamera([0.529, -0.748, 0.293], [-0.128, 0.161, 0.99],
                     world.scene.position, size/size);
     world.addAmbientLight();
     world.addSpotLight([0, 0, 4]);
     world.addTrackball();

     var sizeScale = d3.scaleLinear().domain([0, 256]).range([0, 1]);
     var posScale = d3.scaleLinear().domain([0, 256]).range([-0.5, 0.5]);
     var elevScale = d3.scaleLinear().domain([0, d3.max(data, x => x.mean)]).range([0, 1]);

     // Draw boxes
     data.forEach(d => {
         var boxSize = [
             sizeScale(d.tile.length),
             sizeScale(d.tile.length),
             elevScale(d.mean) / 5 // 5: adjust height
         ];
         var boxPos = [
             posScale(  d.x + d.tile.length/2),
             - posScale(d.y + d.tile.length/2),
             elevScale(d.mean/2) / 5 // 5: adjust height
         ];

         world.addBox(boxSize, boxPos, colorScale(elevScale(d.mean)));
     });

     // Animation loop
     var animate = function () {
         stats.update();
         world.updateControls();

         // Animate
         requestAnimationFrame(animate);
         world.render();
     };
     animate();
 }


 window.onload = () => {
     // Activate selected <li> in sidebar
     $("ul.nav").find("li.active").removeClass("active");
     $("li#li-quad").addClass("active");

     // Fetch elevation tile and draw Quadtree
     const size = 300;
     const color = d => d3.interpolateYlGnBu(1-d);
     const tileCoord = {"z": 10, "x": 906, "y": 404}; // Tile coordinate of Mt.Fuji
     const areaParameter = 0.25;
     fetchTile(tileCoord, drawQuad(size, color, areaParameter));
 }

</script>


<style>
 rect {
     stroke: #fff;
     stroke-width: 0.2px;
 }
</style>

{% endblock %}
